 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background: '#fafafa';
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}
.wholeContainer {
  z-index: 1;
  //width: 1400px;
  //height: 650px;
  margin: 10px auto 0 auto;
  background-image: url('');
}
.hero-unit {
  z-index: 2;
  margin: 50px auto 0 auto;
  width: 600px;
  font-size: 15px;
  font-weight: 200;
  line-height: 30px;
  background-color: RGBA(255, 65, 54, 1);
  border-radius: 6px;
  padding: 60px;
    li {
    background-color: RGBA(232, 201, 174, 1);
    color: white;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    cursor: pointer;
    &:hover {
      background-color: RGBA(0, 31, 63, 1);
    }
  }
  h1 {
    font-size: 55px;
    line-height: 1;
    letter-spacing: -1px;
    text-align: center;
    color: RGBA(0, 31, 63, 1);
  }
  #heroesAdd {
    margin: 25px 0;
  }
}
